<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Kate & Tim's House Hunt</a>
  <form class="form-inline">
  <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" tabindex="-1" onclick="toggleFilters()" role="button">
      Filters
      </a>
    </div>
     <div style="padding-left: 10px;">
    <a class="btn btn-outline-success" href="/properties/add" role="button">
    Add
    </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-primary" href="/" role="button">
      See All
      </a>
    </div>
  </form>
</nav>
