<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Kate & Tim's House Hunt</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/properties/add" role="button">
    Add
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/properties/show" role="button">
      See All
      </a>
    </div>
  </form>
</nav>