<h2>Paste Url</h2>

<form accept-charset="UTF-8" action="/properties/getUrl" method="post" content-type='application/json'>
  <input name="url" type="text" value="" />
  <button type="submit">Add</button>
</form>