<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<form accept-charset="UTF-8" action="welcome/getUrl" method="post" content-type='application/json'>
  <input name="url" type="text" value="" />
  <button type="submit">Add</button>
</form>